<div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
        <ul class='nav'>
            <li class='home'><a href='/'>Home</a></li>
            <li class='details'><a href='/details'>Big Day</a></li>
            <li class='prologue'><a href='/prologue'>Prologue</a></li>
            <li class='who'><a href='/who'>Us &amp; Them</a></li>
            <li class='registry'><a href='/registry'>Registry</a></li>
            <li class='rsvp'><a href='/rsvp'>RSVP</a></li>
        </ul>
    </div>
</div>
