<div class='navbar'>
    <div class='navbar-inner'>
        <ul class='nav'>
            <li class='home'><a href='/'>Home</a></li>
            <li class='about'><a href='/about'>About</a></li>
            <li class='who'><a href='/who'>Who</a></li>
            <li class='details'><a href='/details'>Details</a></li>
        </ul>
    </div>
</div>
