<h1>Our Players</h1>

<h3>Protagonists</h3>

<ul class='players unstyled'>
	<li class=''>Jacob Angel, <span class='role'>the Groom</span></li>
	<li class=''>Sandra Sanchez, <span class='role'>the Bride</span></li>
</ul>

<h3>Groomsmen</h3>
<ul class='players unstyled'>
	<li class=''>Oliver Chang, <span class='role'>the Best Man</span></li>
	<li class=''>David Angel, <span class='role'>his brother</span></li>
	<li class=''>Ben Angel, <span class='role'>his youngest brother</span></li>
	<li class=''>Abraham Epton, <span class='role'>an old friend</span></li>
	<li class=''>Eric Morris, <span class='role'>an old friend</span></li>
</ul>

<h3>Bridesmaids</h3>
<ul class='players unstyled'>
	<li class=''>Khay Nguyen, <span class='role'>the maid of honor</span></li>
	<li class=''>Alexis Sanchez, <span class='role'>her sister</span></li>
	<li class=''>Judy Chan, <span class='role'>an old friend</span></li>
	<li class=''>Aditi Anand, <span class='role'>an old friend</span></li>
	<li class=''>Laura Llamedo, <span class='role'>an old friend</span></li>
</ul>
